<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sayfa Bulunamadı :( - Evernote</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/error.css" />



</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<div></div>
				<h1>404</h1>
			</div>
			<h2>Sayfa Bulunamadı.</h2>
			<p>Aradığınız sayfa silinmiş,ismi değiştirilmiş ya da geçici olarak değiştirilmiş olabilir.</p>
			<a href="/">Ana Sayfa</a>
		</div>
	</div>

</body>

</html>
