<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="../public/css/login.css">
        <link rel="stylesheet" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/bootstrap-theme.min.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kayıt Ol - Kutunuyap.com</title>
</head>
<body>

  <form class="register-form" action="/register" method="POST" >
  <div class="login-page">
    <div class="form">
      <input type="text" name="Name" placeholder="Adınız"/>
           <input type="text" name="Surname" placeholder="Soyadınız" />
              <input type="text" name="Mail Address" placeholder="Mail Adresiniz" />
              <input type="text" name="Phone" placeholder="Telefon Numaranız (Opsiyonel)" />
              <input type="password" name="password" placeholder="Şifreniz" />
              <button input type="submit">kayıt ol</button>
              <p class="message">Kayıtlı mısınız? <a href="/login">Giriş yapın.</a></p>
          </div>
        </div>
      </form>

    <script type="text/javascript" src="../public/js/jquery-3.4.1.js"> </script>
    <script type="text/javascript" src="../public/js/bootstrap.min.js"> </script>
</body>
</html>