<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Üyelik kaydı başarılı!</title>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css'>
</head>

<body>

  <div class="jumbotron text-xs-center">
  <h1 class="display-3">Teşekkürler!</h1>
  <hr>
  <p class="lead"><strong>Mail adresinizi kontol edin.</strong> Üyelik sürecinizi tamamlamak ve profil ayarlamalarınız için bir mail gönderdik. </p>
  <hr>
  <p>
    Sorun mu var ? <a href="mailto:mail@evernote.com">İletişim</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Anasayfaya dönün</a>
  </p>
</div>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js'></script>

  

</body>

</html>