<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kayıt Başarılı.</title>
</head>
<body>
        <div class="jumbotron text-xs-center">
                <h1 class="display-3">Teşekkürler!</h1>
                <p class="lead"><strong>E-Posta adresinizi kontrol edin.</strong>  Hesap ayarlarınızla ilgili adımlar konusunda, size bazı yönergeler gönderdik. </p>
                <hr>
                <p>
                  Sorunuz mu var? <a href="mailto:sorun@evenote.com">Contact us</a>
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-sm" href="/" role="button">Anasayfaya Dönün.</a>
                </p>
              </div>

            
</body>
</html>